.expenses {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  width: 90%;
  margin: 0 auto;
  max-width: 600px;
}

.expense-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin: 0.5rem 0;
  width: 100%;
}
.expense-item-details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.expense-item-delete {
  display: flex;
  align-items: center;
}

.expense-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  margin: 1rem 0;
  width: 100%;
}

.expense-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
}
.expense-list-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  font-weight: bold;
  background-color: #f8f8f8;
  width: 100%;
}


.expense-form input,
.expense-form textarea,
.expense-form button {
  width: 100%;
  margin-bottom: 1rem;
}

.expense-form button {
  cursor: pointer;
}
